<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MyServlet1</display-name>
    <servlet-name>MyServlet1</servlet-name>
    <servlet-class>myservlet.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet1</servlet-name>
    <url-pattern>/MyServlet1</url-pattern>
  </servlet-mapping>
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Pgm2</display-name>
    <servlet-name>Pgm2</servlet-name>
    <servlet-class>myservlet.Pgm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pgm2</servlet-name>
    <url-pattern>/Pgm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarqueeDemo</display-name>
    <servlet-name>MarqueeDemo</servlet-name>
    <servlet-class>myservlet.MarqueeDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarqueeDemo</servlet-name>
    <url-pattern>/MarqueeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rservlet</display-name>
    <servlet-name>Rservlet</servlet-name>
    <servlet-class>myservlet.Rservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rservlet</servlet-name>
    <url-pattern>/Rservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>myservlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>myservlet.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>myservlet.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Failure</display-name>
    <servlet-name>Failure</servlet-name>
    <servlet-class>myservlet.Failure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Failure</servlet-name>
    <url-pattern>/Failure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResServlet</display-name>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>myservlet.ResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/ResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mycook1</display-name>
    <servlet-name>Mycook1</servlet-name>
    <servlet-class>myservlet.Mycook1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mycook1</servlet-name>
    <url-pattern>/Mycook1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mycook2</display-name>
    <servlet-name>Mycook2</servlet-name>
    <servlet-class>myservlet.Mycook2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mycook2</servlet-name>
    <url-pattern>/Mycook2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Database1</display-name>
    <servlet-name>Database1</servlet-name>
    <servlet-class>myservlet.Database1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database1</servlet-name>
    <url-pattern>/Database1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbInsert</display-name>
    <servlet-name>DbInsert</servlet-name>
    <servlet-class>myservlet.DbInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbInsert</servlet-name>
    <url-pattern>/DbInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSuccess</display-name>
    <servlet-name>InsertSuccess</servlet-name>
    <servlet-class>myservlet.InsertSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSuccess</servlet-name>
    <url-pattern>/InsertSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Armstrong</display-name>
    <servlet-name>Armstrong</servlet-name>
    <servlet-class>myservlet.Armstrong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Armstrong</servlet-name>
    <url-pattern>/Armstrong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDemo</display-name>
    <servlet-name>UpdateDemo</servlet-name>
    <servlet-class>myservlet.UpdateDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDemo</servlet-name>
    <url-pattern>/UpdateDemo</url-pattern>
  </servlet-mapping>
</web-app>